.main{
    height: 700px;
    width: 300px;
    border: 1px solid;
    margin: auto;
    padding-left: 50px;
    line-height: 2.5;
    background-color: blue;
    color: white;
    font-weight: 600;
    font-size: large;
} 
.main input {
    width: 250px;
    height: 35px;
}
/* button {
    border-radius: 10px;
} */